.container {
    margin: 20px auto;
    max-width: 400px;
    padding: 0 20px;
    border: 1.5px solid rgb(194, 119, 219);
    border-radius: 8px;
  }
  

  #toDoInput {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

  #addButton {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
  }
  
  #addButton:hover {
    background-color: #45a049;
  }

  #toDoList {
    list-style-type: none;
    padding: 0;
  }
  

  #toDoList li {
    margin-top: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
    position: relative;
  }
  

  .delete {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  
  .delete:hover {
    background-color: #d32f2f;
  }
  

  .edit {
    position: absolute;
    top: 5px;
    right: 40px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 30px;
  }
  
  .edit:hover {
    background-color: #1976D2;
  }
